{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Generations</h1>
        <div class="card-deck" style="display: block;">
            {% for item in data %}
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ item.path }}" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.prompt }}</p>
                        <p class="card-text">{{ item.style }}</p>
                        <div class="form-group">
                            <label for="subreddit">Subreddit:</label>
                            <select class="form-control" id="subreddit-{{ loop.index }}" name="subreddit">
                                <option value="" disabled selected>Select a subreddit</option>
                                <option value="custom">Type your own</option>
                                {%  for item in subs %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                            <div id="customSubredditContainer-{{ loop.index }}" style="display: none;">
                                <label for="customSubreddit">Custom Subreddit:</label>
                                <input class="form-control" type="text" id="customSubreddit-{{ loop.index }}" name="customSubreddit">
                            </div>
                        </div>
                        <button class="btn btn-primary" onclick="sendAction('{{ item.path }}', '{{ item.title }}', '{{ loop.index }}')">
                            Send To Reddit
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function sendAction(path, title, index) {
            var subredditSelect = document.getElementById("subreddit-" + index);
            var subreddit;
            if (subredditSelect.value === 'custom') {
                subreddit = document.getElementById("customSubreddit-" + index).value;
            } else {
                subreddit = subredditSelect.value;
            }
            fetch('/generations/send_to_reddit', {
                method: 'POST',
                body: JSON.stringify({
                    path: path,
                    title: title,
                    sub: subreddit,
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((response) => {
                return response.json();
            }).then((data) => {
                alert(JSON.stringify(data));
                console.log('Action sent to Flask backend!');
            }).catch((error) => {
                console.error('Error sending action to Flask backend:', error);
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            var subredditSelects = document.querySelectorAll("select[name='subreddit']");
            subredditSelects.forEach(function(select) {
                var customSubredditContainer = document.getElementById("customSubredditContainer-" + select.id.slice(-1));
                select.addEventListener("change", function() {
                    if (this.value === "custom") {
                        customSubredditContainer.style.display = "block";
                    } else {
                        customSubredditContainer.style.display = "none";
                    }
                });
            });
        });
    </script>
{% endblock %}
