{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div><p>number of images remaining: {{ num_remaining }}</p></div>
        <div id="image-viewer">
            <img class="modal-content" id="full-image" alt="Image-To-Curate" src={{ link }} >
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <button id=accept class="btn btn-primary" onclick="accept()">Accept</button>
            <button id=reject class="btn btn-warning" onclick="reject()">Reject</button>
        </div>
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" placeholder="{{ content.id }}" readonly>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="{{ content.title }}" readonly>
        </div>
        <div class="mb-3">
            <label for="subreddit" class="form-label">Subreddit</label>
            <input type="text" class="form-control" id="subreddit" placeholder="{{ content.subreddit }}" readonly>
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" placeholder="{{ content.model }}" readonly>
        </div>
        <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" rows="3">{{ content.caption }}</textarea>
        </div>
    </div>

    <script>
        function showImage() {
            $(".images img").click(function () {
                $("#full-image").attr("src", $(this).attr("src"));
                $('#image-viewer').show();
            });
        }

        function closeImage() {
            $("#image-viewer .close").click(function () {
                $('#image-viewer').hide();
            });
        }

        function accept() {
            sendRequest("accept")
        }

        function reject() {
            sendRequest("reject");
        }

        function sendRequest(status) {
            $.ajax({
                url: "/curate/",
                type: "POST",
                header: {
                    "content-type": "application/json"
                },
                data: {
                    "id": "{{ content.id }}",
                    "caption": $("#caption").val(),
                    "action": status
                },
                success: function (data) {
                    console.log(data);
                    window.location.href = `/image/${data.name}`;
                }
            });
        }
    </script>
{% endblock %}