{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <p>Number of images remaining: {{ num_remaining }}</p>
                 <button id="reset" class="btn btn-primary" onclick="reset()">Reset</button>
            </div>
            <div class="card-body">
                <div id="image-container" class="image-container">
                    <div class="image-wrapper" onclick="showFullscreenImage('{{ link }}')"
                         style="width: auto; height: auto; background-image: url('{{ link }}')">
                        <img id="primary-image" alt="" src="{{ link }}">
                        <div id="image-label" class="image-label">Original Image</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-container" hidden>
        <div class="loading-icon"></div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <button id="accept" class="btn btn-primary" onclick="accept()">Accept</button>
                    <button id="reject" class="btn btn-warning" onclick="reject()">Reject</button>
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" placeholder="{{ content.id }}" readonly
                           onclick="copyText()">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="{{ content.title }}" readonly
                           onclick="copyText()">
                </div>
                <div class="mb-3">
                    <label for="subreddit" class="form-label">Subreddit</label>
                    <input type="text" class="form-control" id="subreddit" placeholder="{{ content.PartitionKey }}"
                           readonly onclick="copyText()">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.onreadystatechange = () => {
            getInstrinsicSize(document.getElementById('primary-image'), 'image-label')
        }

        function accept() {
            sendRequest("accept")
            document.getElementsByClassName("loading-container")[0].hidden = false;
        }

        function reject() {
            sendRequest("reject");
            document.getElementsByClassName("loading-container")[0].hidden = false;
        }

        function reset() {
            $.ajax({
                url: "/primary/reset/",
                type: "POST",
                header: {
                    "content-type": "application/json"
                },
                data: {
                    "id": "{{ content.id }}",
                    "action": status,
                    "subreddit": "{{ content.PartitionKey }}"
                },
                success: function (data) {
                    window.location.href = data.redirect;
                }
            });
        }

        function sendRequest(status) {
            const button = document.getElementById("accept");
            button.disabled = true;
            button.hidden = true;

            const button2 = document.getElementById("reject");
            button2.disabled = true;
            button2.hidden = true;

            const image_container = document.getElementById("image-container");
            image_container.hidden = true;

            $.ajax({
                url: "/primary/curate/",
                type: "POST",
                header: {
                    "content-type": "application/json"
                },
                data: {
                    "id": "{{ content.id }}",
                    "action": status,
                    "subreddit": "{{ content.PartitionKey }}"
                },
                success: function (data) {
                    window.location.href = data.redirect;
                }
            });
        }
    </script>
{% endblock %}
