{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div><p>number of images remaining: {{ num_remaining }}</p></div>
        <div class="image-container">
            <div class="image-wrapper" onclick="toggleFullScreen(this)">
                <img src={{ original_link }}>
                <div class="image-label">Original Image</div>
            </div>
        </div>
        <div class="image-container">
            <div class="image-wrapper" onclick="toggleFullScreen(this)">
                <img src={{ link }}>
                <div class="image-label">Smart Crop</div>
            </div>
            <div class="image-wrapper" onclick="toggleFullScreen(this)">
                <img src={{ alt_link }}>
                <div class="image-label">Azure Crop</div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <button id=accept class="btn btn-primary" onclick="accept()">Accept</button>
            <button id=reject class="btn btn-warning" onclick="reject()">Reject</button>
            <button id=skip class="btn btn-secondary" onclick="sendForAnalysis()">Send For Analysis</button>
        </div>
        <div class="mb3">
            <table border="1" width="100%" class="table-striped">
                <tr>
                    <th>Accept</th>
                    <th>Text</th>
                    <th>Confidence</th>
                </tr>
                {% for i in range(content.dense_captions | length) %}
                    <tr id={{ i }}>
                        <td id="check-box-{{ i }}">
                            <label for="additional-caption-{{ i }}">Accept</label>
                            <input type="checkbox" id="additional-caption-{{ i }}"
                                   value="{{ content.dense_captions[i].get('text') }}" class="btn btn-primary"
                                   onclick="setCaptions({{ i }})" checked>
                        </td>
                        <td id="caption-text-{{ i }}">{{ content.dense_captions[i].get('text') }}</td>
                        <td id="caption-confidence-{{ i }}">{{ content.dense_captions[i].get('confidence') }}</td>
                    <tr/>
                {% endfor %}
            </table>
        </div>
        <div class="mb3">
            <table border="1" width="100%" class="table-striped">
                <tr>
                    <th>Accept</th>
                    <th>Name</th>
                    <th>Confidence</th>
                </tr>
                {% for i in range(content.tags | length) %}
                    <tr id={{ i }}>
                        <td id="check-box-{{ i }}">
                            <label for="relevant-tag-{{ i }}">Accept</label>
                            <input type="checkbox" id="relevant-tag-{{ i }}"
                                   value="{{ content.tags[i].get('name') }}" class="btn btn-primary"
                                   onclick="setTag({{ i }})" checked>
                        </td>
                        <td id="tag-text-{{ i }}">{{ content.tags[i].get('name') }}</td>
                        <td id="tag-confidence-{{ i }}">{{ content.tags[i].get('confidence') }}</td>
                    <tr/>
                {% endfor %}
            </table>
        </div>
        <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" rows="3">{{ content.azure_caption }}</textarea>
        </div>
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" id="id" placeholder="{{ content.id }}" readonly>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="{{ content.title }}" readonly>
        </div>
        <div class="mb-3">
            <label for="subreddit" class="form-label">Subreddit</label>
            <input type="text" class="form-control" id="subreddit" placeholder="{{ content.subreddit }}" readonly>
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" placeholder="{{ content.model }}" readonly>
        </div>
    </div>

    <script>
        function sendForAnalysis() {
            $.ajax({
                url: "/secondary/analysis/",
                type: "POST",
                header: {
                    "content-type": "application/json"
                },
                data: {
                    "image_id": "{{ content.id }}",
                    "subreddit": "{{ content.subreddit }}",
                    "action": "accept",
                },
                success: function (data) {
                    window.location.href = data.redirect;
                }
            });
        }

        function setTag(i) {
            var id = $('#relevant-tag-' + i).attr('id');
            var thing = document.getElementById(id);
            var checked = thing.checked;

            var text_id = $('#tag-text-' + i).attr('id');
            var text_thing = document.getElementById(text_id);
            var text = text_thing.innerHTML;
            if (checked) {
                $('#relevant-tag-' + i).val(text);
            } else {
                $('#relevant-tag-' + i).val("");
            }
        }

        function setCaptions(i) {
            var id = $('#additional-caption-' + i).attr('id');
            var thing = document.getElementById(id);
            var checked = thing.checked;

            var text_id = $('#caption-text-' + i).attr('id');
            var text_thing = document.getElementById(text_id);
            var text = text_thing.innerHTML;
            if (checked) {
                $('#additional-caption-' + i).val(text);
            } else {
                $('#additional-caption-' + i).val("");
            }
        }

        function showImage() {
            $(".images img").click(function () {
                $("#full-image").attr("src", $(this).attr("src"));
                $('#image-viewer').show();
                return;
            });
        }

        function closeImage() {
            $("#image-viewer .close").click(function () {
                $('#image-viewer').hide();
                return;
            });
        }

        function accept() {
            sendRequest("accept")
        }

        function reject() {
            sendRequest("reject");
        }

        function sendRequest(status) {
            var captions = [];
            var tags = [];
            {% for i in range(content.dense_captions | length) %}
                var id = $('#additional-caption-{{ i }}').attr('id');
                var thing = document.getElementById(id);
                var checked = thing.checked;
                if (checked) {
                    var data = $('#additional-caption-{{ i }}').val();
                    captions.push(data);
                }
            {% endfor %}
            {% for i in range(content.tags | length) %}
                var id = $('#relevant-tag-{{ i }}').attr('id');
                var thing = document.getElementById(id);
                var checked = thing.checked;
                if (checked) {
                    var data = $('#relevant-tag-{{ i }}').val();
                    tags.push(data);
                }
            {% endfor %}

            $.ajax({
                url: "/secondary/curate/",
                type: "POST",
                header: {
                    "content-type": "application/json"
                },
                data: {
                    "id": "{{ content.id }}",
                    "caption": $("#caption").val(),
                    "action": status,
                    "additional_captions": captions.join(','),
                    "additional_tags": tags.join(','),
                    "subreddit": "{{ content.subreddit }}"
                },
                success: function (data) {
                    window.location.href = data.redirect;
                }
            });
        }
    </script>
{% endblock %}